<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.clinicFinder">

    <application
        android:allowBackup="true"
        android:icon="@drawable/heart_health"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".urine"></activity>
        <activity android:name=".infants" />
        <activity android:name=".gastric" />
        <activity android:name=".mental" />
        <activity android:name=".acne" />
        <activity android:name=".pregnancy" />
        <activity android:name=".cold" />
        <activity android:name=".expert" />
        <activity android:name=".order_medicines" />
        <activity android:name=".lab_reports" />
        <activity android:name=".self_diagnose" />
        <activity android:name=".search_doctors" />
        <activity android:name=".find_clinic" />
        <activity android:name=".profile" />
        <activity android:name=".login" />
        <activity android:name=".registration" />
        <activity android:name=".splashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity"
            />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>